.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.theme-dark {
  --body-color: #ccc;
  --body-bg: #2a2d2f;
  --border-color: #363a3d;
}
.theme-light {
  --body-color: #333;
  --body-bg: #fff;
  --border-color: #ebebeb;
}